<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 引入依赖框架 -->
<head th:replace="include/header::head('天猫tmall.com--理想生活上天猫')"></head>
<body>
    <div class="container-fluid" id="container">
        <!-- head nav -->
        <div class="row">
            <div class="col px-0" th:insert="include/foreNavigator::navigator(true)"></div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
        <!-- footer page -->
        <div class="row" th:replace="include/footer::footerDetail"></div>
    </div>
    <!-- admin main.css -->
    <link rel="stylesheet" th:href="@{/css/fore/main.css}" href="../../static/css/fore/main.css"/>
    <!-- util main.js -->
    <!--<script type="text/javascript" th:src="@{/js/utility/main.js}" src="../../static/js/utility/main.js"></script>-->
    <!-- fore home.js -->
    <!--<script type="text/javascript" th:src="@{/js/fore/home.js}" src="../../static/js/fore/home.js"></script>-->
</body>
</html>